<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
<html>
    <head>
        <title>Gesture recognition demo</title>
    </head>
    <body>

        <div class="container grid-lg">
        <div class="columns">
            <div class="column col-12">
                <p></p>
                <p></p>
            </div>
            
            <div class="column col-12" class="mt-2">
                
                <span class="h4">Gesture recognition demo</span>
                <p></p>
                {{ message }}
                <p></p>
                <p>All predictions, spectrogram, etc lags about ~3 seconds behind.</p>
                <p>Detection threshold: 0.35 </p>
            </div>

            <div class="column col-12">
                <p></p>
                <p></p>
            </div>

            <div class="column col-12">
                <a href=# id=record> <button class="btn"> {{ status }} recording </button> </a>
            </div>

            <div class = "column col-12">
                <p></p>
                <p></p>
            </div>

            <div class="column col-3">
                <span class="h5">
                    Predicted gesture
                </span>
                <div id = "gesture_listener" >  


                </div>
            </div>
            <div class="column col-6">
                <span class="h5">Probabilities</span> 
                <pre id = "predictions_listener">

                </pre>
                
            </div>
            <div class="column col-3"> 
                <span class="h5">Spectrogram </span>
                <p></p>
                <div id="spectrogram_listener"> 

                </div>
                
            </div>
        </div>
    </div>
    </body>
</html>


<script>
    function fetchGesture() {
        const element = document.getElementById("gesture_listener")
        fetch("http://localhost:5000/gesture")
        .then(response => response.json())
        .then(json => element.innerHTML = json.gesture)
        .catch(error => console.error(error))

        setTimeout(fetchGesture, 500);
    }

    function fetchPredictions() {
        const element = document.getElementById("predictions_listener")

        fetch("http://localhost:5000/predictions")
        .then(response => response.json())
        .then(json => element.innerHTML = JSON.stringify(json.predictions, null, 2))
        .catch(error => console.error(error))

        setTimeout(fetchPredictions, 500);
    }

    function fetchSpectrogram() {
        const element = document.getElementById("spectrogram_listener"); 
        var unique = $.now();
        element.innerHTML = "<img src='static/data/s.png?" + unique + "'>";
        setTimeout(fetchSpectrogram, 500);
    }

    document.addEventListener("DOMContentLoaded", function(event) {
        fetchPredictions(); 
        fetchGesture(); 
        fetchSpectrogram();
    })

</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
        $('a#record').on('click', function(e) {
            e.preventDefault()
            $.getJSON('http://localhost:5000/start',
                function(data) {
                    console.log("Starting recording"); 
            });
            return false;
            });
        });
</script>